---
import Base from '../layouts/Base.astro'
import ThemeToggle from '../components/ThemeToggle.astro'
import Hero from '../components/Hero.astro'
import Features from '../components/Features.astro'
import Install from '../components/Install.astro'
import Footer from '../components/Footer.astro'
---

<Base>
  <ThemeToggle />
  <main>
    <Hero />
    <Features />
    <Install />
  </main>
  <Footer />
</Base>
